extends layout.pug

block content
  section#content 
    ul
      each color in card.getColor()  
        li= color
    h2= card.question

    if side === 'answer'
      p
       i= card.answer
      a(href=`${card.id}`) Question
    else
      if card.hint
        p
          i Hint: #{card.hint}
      else
        p (There is no hint.)       
      a(href=`${card.id}?side=answer`) Answer

    br
    a(href='/cards') Next card

      
    